@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.woff2') format('woff2'), url('../fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.woff2') format('woff2'), url('../fonts/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'ic-base';
    src: url('../fonts/ic-base.eot');
    src: url('../fonts/ic-base.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ic-base.woff2') format('woff2'),
        url('../fonts/ic-base.woff') format('woff'),
        url('../fonts/ic-base.ttf') format('truetype'),
        url('../fonts/ic-base.svg#ic-base') format('svg');
    font-weight: normal;
    font-style: normal;
}