.footer {
    background-color: var(--color-green);
}

.footer__content {
    display: flex;
    flex-direction: row;
    margin-left: 19.8vw;
    padding: 0.7vw 0;
    gap: 3.0vw;
}

.footer__logo {
    width: 10.4vw;
    height: auto;
}

.footer__contacts {
    display: flex;
    align-items: center;
    gap: 2.4vw;
}

.footer__contacts-container {
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.footer__icon {
    width: 1.6vw;
    height: auto;
}

.footer__text {
    color: var(--color-white);
    font-family: Lato, sans-serif;
    font-size: clamp(0.9vw, 0.9vw, 3.8vw);
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    text-decoration: none;
}

.footer__br {
    display: none;
}

/* Мобильные стили */
@media (max-width: 768px) {
    .footer__content {
        flex-direction: column;
        margin:0 13.5vw 0 19.8vw;
        padding: 9.8vw 0 11.5vw;
        width: 64.8vw;
    }

    .footer__logo {
        width: 53.3vw;
    }

    .footer__contacts {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__icon {
        display: none;
    }

    .footer__text {
        font-size: clamp(4.3vw, 4.3vw, 8.7vw);
        line-height: 1.2;
    }

    .footer__br {
        display: block;
    }
}
