.technical {
    background-image: url(/src/assets/img/background-image.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 1.1vw;
}

.technical__content {
    display: flex;
    padding: 7.0vw 19.8vw 20.3vw;
}

.technical__title {
    color: var(--color-black);
    font-family: Lato, sans-serif;
    font-size: clamp(3.1vw, 3.1vw, 12.5vw);
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: left;
}

.technical__contacts {
    display: none;
}

/* Мобильные стили */
@media (max-width: 768px) {
    .technical {
        background-image: url(/src/assets/img/background-mobile.jpeg);
    }

    .technical__content {
        flex-direction: column;
        padding: 10.7vw 8.3vw 81.3vw;
        gap: 11.5vw;
    }

    .technical__title {
        color: var(--color-white);
        font-size: clamp(7.8vw, 7.8vw, 16.5vw);
    }

    .technical__contacts {
        display: flex;
        flex-direction: column;
        color: var(--color-white);
        font-size: clamp(4.8vw, 4.8vw, 9.8vw);
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.04em;
    }

    .technical__tel, .technical__mail {
        text-decoration: none;
        color: var(--color-white);
    }

    .technical__tel {
        margin-bottom: 1.8vw;
    }
}
