@import url(/src/style/all-styles/fonts.css);
@import url(/src/style/all-styles/reset.css);
@import url(/src/style/all-styles/header-style.css);
@import url(/src/style/all-styles/technical-style.css);
@import url(/src/style/all-styles/footer-style.css);
@import url(/src/style/all-styles/adminka-style.css);

:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-green: #0a8e00;
    --color-background-white: #f2f2f2;
}

.body {
    max-width: 1920px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

/* Стили для элементов, занимающих всю ширину */
.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

@media (max-width: 768px) {
    .wrapper {
        width: 84.0vw;
        padding-inline: 7.8vw;
    }
}
